:root{
    --button-color: #114B5F;
    --button-hover-color: #1b728f;
    --border-radius: 5px;
}

h1 {
    font-size: 1.75em;
    font-weight: 600;
    text-align: center;
}

main p {
    font-size: 2em;
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 5px;
}

div .links{
    width: 25%;
    text-align: center;
    margin-bottom: 5px;
}

main .links button {
    display: block;
    border: 0;
    width: 25%;
    background-color: var(--button-color);
    border-radius: var(--border-radius);
    color: #fff;
    font-weight: 400;
    padding: 1% 2%;
    cursor: pointer;
    box-shadow: 0px 0px 4px 2px #ddd;
    margin-left: 7em;
    margin-top: 5px;
}

main .links button:hover {
    background-color: var(--button-hover-color);
}

img {
    width: 100%;
}



/*desktop / tablet*/
@media (min-width: 750px) {

    h1 {
        font-size: 3em;
    }

    div .links{
        width: 50%;
        float: left;
    }
    div .rechts {
        width: 50%;
        float: right;
    }

}